body {
  font-size: 16px;
  font-family: 'Lora', serif;
  color: silver;  
}

/** HEADER **/
#header-nav {
  background-color: #E0FFFF;
  /*border-radius: 0;
  border: 0;*/
}

.navbar-default .navbar-collapse {
  border: 0px;	
}

.navbar-brand h1 { /* Food, LLC */
  font-family: 'Lato', sans-serif;
  color: silver;
  font-size: 1.5em;  
  font-weight: bold; 
  text-shadow: 1px 1px 1px #222;
  margin: 0 auto 0 0;  
  line-height: .75;
}

#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid black;
}
#nav-list a {
  font-size: 1.8em;
  text-align: center;
  border-bottom: 1px solid #000000;
  margin: 0 1% 0;  
}

#nav-list a:hover {
  background: #E7E7E7;
}/*
#nav-list a span {
  font-size: 1.8em;
}*/

#nav-list li {
  background-color: #FFFFFF;
}
#nav-list li:nth-child(3) a {
  border-bottom: 0px;
}
/* END HEADER */

/** MAIN-CONTENT **/
#page-menu {
  color: #fff;
  background-color: #87CEEB;
}

#main-content h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
    color: #7D7A7A;
}

#page-menu p {
	font-family: italic;
}

/********** Extra small devices only (Mobile View)**********/
@media (max-width: 767px) {

#page-menu {
  margin: 0 8% 0;
}
/** END MAIN-CONTENT **/
}