// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.heading {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
}
table {
	border-collapse: collapse;
}
td {
	padding: 12px;
}
